* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

body {
  position: relative;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

.glasmorphic-card {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  /* glassmorpic effect */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glasmorphic-card p {
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(31, 38, 135, 0.37);
}

.circle {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: rgb(16, 78, 150);
  background: linear-gradient(
    45deg,
    rgba(16, 78, 150, 1) 0%,
    rgba(240, 29, 121, 1) 100%
  );
}

.circle1 {
  width: 300px;
  height: 300px;
  transform: translate(-650px, -360px);
}
.circle2 {
  width: 200px;
  height: 200px;
  transform: translate(330px, 0);
}
.circle3 {
  width: 150px;
  height: 150px;
  transform: translate(-350px, 260px);
}
